// Media queries
$sm-screen: 576px;
$md-screen: 768px;
$lg-screen: 992px;
$xl-screen: 1200px;

// Typography
$xs-text: 1.4rem;
$sm-text: 1.6rem;
$md-text: 1.8rem;
$lg-text: 2rem;
$xl-text: 2.5rem;
$xxl-text: 3.5rem;

// Colors
$error-color: #f53838;
$dark-color: #0b132a;
$light-color: #4f5665;

// Misc
$rounded: 10px;
